<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div id="main" role="main" class="container">
        <aside>
        {% include tags-list.html %}
        </aside>

        <section class="home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

          {{ content }}

        </section>
      </div>
    </main>

  </body>
</html>
